<meta charset="utf-8" />
<input id="response2" type="hidden" value="${resp}" />
<input id="status2" type="hidden" value="${status}" />
<h3 style="margin: 0; text-align: center;">
	<strong>Quero saber mais sobre o sistema</strong>
</h3>
<ul class="buttons" style="display: inherit; justify-content: center; display: block; text-align: center;">
	<li><input type="text" name="mailList.name2" placeholder="Digite seu nome" value="${flash['mailList.name2']}"
		style="border-radius: 0; margin: 0 auto; line-height: 0; display: inline-block; min-width: 15em; vertical-align: middle" /></li>
	<li><input type="text" name="mailList.mail2" placeholder="Digite seu melhor e-mail" value="${flash['mailList.mail2']}"
		style="border-radius: 0; margin: 0 auto; line-height: 0; display: inline-block; min-width: 15em; vertical-align: middle" /></li>
	<li><a id="btnNews2" class="button" onclick="newsletterTheSystemBottom()" style="background-color: #F0A939; color: #fff; margin-top: 5px">ENVIAR</a></li>
</ul>
<p id="message2" style="display: none; text-align: center; font-weight: bold;"></p>