<meta charset="utf-8" />
<input id="response" type="hidden" value="${resp}" /> 
<input id="status" type="hidden" value="${status}" />
<h3 style="margin:0; text-align: center; text-transform: initial; color: gray;"><strong>&{article?.getTitleCaptureForm() == null ? 'Inscreva-se em nossa lista de e-mails.' : article.getTitleCaptureForm()}</strong></h3>
<ul class="buttons" style="display: inherit; justify-content: center; display: block; text-align: center;">
	<li><input type="text" name="mailList.name1" placeholder="Digite seu nome" value="${flash['mailList.name1']}" style="border-radius: 0; margin: 0 auto; line-height: 0; display: inline-block; min-width: 15em; vertical-align: middle" /></li>
	<li><input type="text" name="mailList.mail1" placeholder="Digite seu melhor e-mail" value="${flash['mailList.mail1']}" style="border-radius: 0; margin: 0 auto; line-height: 0; display: inline-block; min-width: 15em; vertical-align: middle;" /></li>
	<li><a id="btnNews1" class="button" onclick="newsletterTips()" style="background-color: #F0A939; color: #fff;">QUERO RECEBER</a></li>
</ul>
<p id="message" style="display: none; text-align: center; font-weight: bold;"></p>