<meta charset="utf-8" />
<p class="er">#{error 'payment.name' /}</p>
<input type="text" id="paymentName" placeholder="Nome do solicitante, ex.: João"
	name="chalkboard.name" value="${flash['chalkboard.name']}">

<p class="er">#{error 'payment.lastName' /}</p>
<input type="text" id="paymentLastName"
	placeholder="Sobrenome, ex.: Silva Sauro" name="chalkboard.lastName"
	value="${flash['chalkboard.lastName']}">

<p class="er">#{error 'payment.email' /}</p>
<input type="text" id="paymentEmail"
	placeholder="E-mail, ex.: nome@provedor.com.br" name="chalkboard.email"
	value="${flash['chalkboard.email']}">

<p class="er">#{error 'payment.password' /}</p>
<input type="password" id="paymentPassword" placeholder="Senha"
	name="chalkboard.password" value="">

<p class="er">#{error 'confirmPassword' /}</p>
<input type="password" id="paymentConfirmPassword"
	placeholder="Digite novamente a senha" name="confirmPassword" value="">

<div class="contact-but">
	<input type="submit" value="Pagar" />
</div>