<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--[if lte IE 8]><script src="@{'public/templatefollow/assets/js/ie/html5shiv.js'}"></script><![endif]-->
<link rel="stylesheet" href="@{'public/templatefollow/assets/css/main.css'}" />
<!--[if lte IE 8]><link rel="stylesheet" href="@{'public/templatefollow/assets/css/ie8.css'}" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="@{'public/templatefollow/assets/css/ie9.css'}" /><![endif]-->
<meta name="author" content="&{parameter.getSiteName()}">
<link rel="apple-touch-icon" sizes="57x57" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="60x60" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="72x72" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="76x76" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="114x114" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="120x120" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="144x144" href="&{parameter.getSiteLogo()}">
<link rel="apple-touch-icon" sizes="152x152" href="&{parameter.getSiteLogo()}">
<link rel="icon" type="image/png" href="&{parameter.getSiteLogo()}" sizes="16x16">
<link rel="icon" type="image/png" href="&{parameter.getSiteLogo()}" sizes="32x32">
<link rel="icon" type="image/png" href="&{parameter.getSiteLogo()}" sizes="96x96">
<link rel="icon" type="image/png" href="&{parameter.getSiteLogo()}" sizes="160x160">
<link rel="icon" type="image/png" href="&{parameter.getSiteLogo()}" sizes="196x196">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="&{parameter.getSiteLogo()}">
<meta property="twitter:card" content="&{parameter.getSiteTitle()}" />
<meta property="twitter:site" content="&{parameter.getSiteDomain()}}" />
	
<meta property="og:type" content="article" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="&{parameter.getSiteName()}" />
<meta property="og:url" content="&{parameter.getSiteDomain()}}" />

<meta property="fb:app_id" content="1423243714375622">

<link rel="shortcut icon" type="image/png" href="&{parameter.getSiteLogo()}" />

<link rel="stylesheet" type="text/css" href="@{'public/templatebootstrap/bower_components/font-awesome/css/font-awesome.css'}" />
<link rel="stylesheet" type="text/css" href="@{'public/jssocials/jssocials.css'}" />
<link rel="stylesheet" type="text/css" href="@{'public/jssocials/jssocials-theme-minima.css'}" />

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '457036137826789'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=457036137826789&ev=PageView&noscript=1" /></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->