<meta charset="utf-8" />
#{list highlightArticles, as:'highlightArticle'}
	<section>
		<header>
			<a href="/artigos/${highlightArticle.id}/${highlightArticle.getFriendlyUrl()}">
			#{if highlightArticle_index == 1}
				<h1 class="mainLead">
					&{highlightArticle.getTitle().raw()}
				</h1>
			#{/if}
			#{else}
				<h2 style="text-transform: uppercase; margin-top: 20px; color: #5C5C5C"><strong>&{highlightArticle.getTitle().raw()}</strong></h2>
			#{/else}
			</a>			
			<input id="shorten" type="hidden" value=&{parameter.getSiteDomain()}}" />
			<div id="share"></div>
			<a href="/artigos/${highlightArticle.id}/${highlightArticle.getFriendlyUrl()}">
				<h3 style="text-transform: unset; color: #444444">&{highlightArticle.getHeadline().length() > 130 ? highlightArticle.getHeadline().substring(0, 128).concat("...") : highlightArticle.getHeadline().raw()}</h3>
			</a>			
		</header>
		<a href="/artigos/${highlightArticle.id}/${highlightArticle.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(highlightArticle.id, '1')}" alt="&{highlightArticle.getTitle().raw()}" title="&{highlightArticle.getTitle().raw()}" /></a>
	</section>
	<br />
#{/list}


								