<meta charset="utf-8" />
#{list highlightArticles, as:'highlightArticle'}
	<section>
		<header>
			<p style="font-size: 15px; margin: 0;">Você está em: <a href="/"><strong>Seu Pedido Online</strong></a> > <a href="/dicas"><strong>Dicas</strong></a></p>
			<h2 style="text-transform: uppercase; margin-top: 20px"><strong>&{highlightArticle.getTitle().raw()}</strong></h2>
			<input id="shorten" type="hidden" value="http://seupedido.online/dicas" />
			<div id="share"></div>
			<h3 style="text-transform: unset; color: #444444">&{highlightArticle.getHeadline().length() > 130 ? highlightArticle.getHeadline().substring(0, 128).concat("...") : highlightArticle.getHeadline().raw()}</h3>
		</header>
		<a href="/dicas/${highlightArticle.id}/${highlightArticle.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(highlightArticle.id, '1')}" alt="" /></a>
		<footer>
			<ul class="buttons">
				<li><a href="/dicas/${highlightArticle.id}/${highlightArticle.getFriendlyUrl()}" class="button small">Leia mais</a></li>
			</ul>
		</footer>
	</section>
	<br />
#{/list}