<meta charset="utf-8" />
#{if  hightlightProduct}
<section style="margin: 0; padding-top: 10px;">
	<header>
		<a href="&{hightlightProduct.getLink()}" class="image featured">
			<img src="@{Application.getImageHighlightProduct(hightlightProduct.id)}" alt="&{hightlightProduct.getTitleNoHtml()}" title="&{hightlightProduct.getTitleNoHtml()}" style="max-width: 10em; margin: 0 auto;" />
		</a>
		<a href="&{hightlightProduct.getLink()}" class="image featured">
			<h4 style="font-size: 0.8em; text-align: center; color: #545454;">&{hightlightProduct.getTitle().raw()}</h4>
		</a>
	</header>
	<a href="&{hightlightProduct.getLink()}" class="button" style="font-size: 0.66em; min-width: 100%; line-height: 2.75em; padding: 0 1px 0 1px; color: black; letter-spacing: unset; margin-top: 0.5em">&{hightlightProduct.getMsgOffer().raw()}</a>
</section>
#{/if}
#{list articleSidebarRightAds, as:'article'}
<section style="margin: 0; padding-top: 10px;">
	<header>
		<a href="/artigos/${article.id}/${article.getFriendlyUrl()}" style="color: inherit;">
			<h3 class="mainLead">
				&{article.getTitle().raw()}
			</h3>
		</a>
	</header>
	<a href="/artigos/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="&{article.getTitle().raw()}" title="&{article.getTitle().raw()}" /></a>
</section>
#{/list}