<meta charset="utf-8" />
#{if articleSidebarRightAds}
	<section style="margin: 0; padding-top: 10px;">
		<header>
			<a href="/artigos/${articleSidebarRightAds.id}/${articleSidebarRightAds.getFriendlyUrl()}" style="color: inherit;">
				<h3 style="text-transform: uppercase;">
					<strong>&{articleSidebarRightAds.getTitle().raw()}</strong>
				</h3>
			</a>
		</header>
		<a href="/artigos/${articleSidebarRightAds.id}/${articleSidebarRightAds.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(articleSidebarRightAds.id, '1')}" alt="&{articleSidebarRightAds.getTitle().raw()}" title="&{articleSidebarRightAds.getTitle().raw()}" /></a>
	</section>
#{/if}