<meta charset="utf-8" />
	#{list bottomNews, as:'article'}
		<div class="4u 12u(narrower)">
			<section>
				<header>
					<h3 style="text-transform: uppercase;"><strong>&{article.getTitle()}</strong></h3>
				</header>
				<a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="image featured">
					<img src="@{NewsController.getImage(article.id, '1')}" alt="" />
				</a>
				<p>&{article.getHeadline().length() > 130 ? article.getHeadline().substring(0, 128).concat("...") : article.getHeadline().raw()}</p>
				<footer>
					<ul class="buttons">
						<li><a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="button small">Leia mais</a></li>
					</ul>
				</footer>
			</section>
		</div>
	#{/list}
