<meta charset="utf-8" />
<h2></h2>
<!-- Tweet Embed Content  -->
&{parameter.getTweet().raw()}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<br />
<div class="fb-page" data-href="https://www.facebook.com/seupedidoonline" data-hide-cover="false" data-show-facepile="false" data-show-posts="false" data-width="380">
	<blockquote cite="https://www.facebook.com/seupedidoonline" class="fb-xfbml-parse-ignore">
		<a href="https://www.facebook.com/seupedidoonline">Seu Pedido Online</a>
	</blockquote>
</div>
#{list sidebarRightNews, as:'article'}
<section style="margin: 0; padding-top: 10px;">
	<header>
		<h3 style="text-transform: uppercase;">
			<strong>&{article.getTitle().raw()}</strong>
		</h3>
	</header>
	<a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="" /></a>
	<p style="margin: 0 0 1em 0;">&{article.getHeadline().length() > 130 ? article.getHeadline().substring(0, 128).concat("...") : article.getHeadline().raw()}</p>
	<footer>
		<ul class="buttons">
			<li><a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="button small">Leia mais</a></li>
		</ul>
	</footer>
</section>
#{/list}
