<meta charset="utf-8" />
#{list sidebarRightNews, as:'article'}
<section style="margin: 0; padding-top: 10px;">
	<header>
		<a href="/artigos/${article.id}/${article.getFriendlyUrl()}" style="color: inherit;">
			<h3 class="mainLead">
				&{article.getTitle().raw()}
			</h3>
		</a>
	</header>
	<a href="/artigos/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="&{article.getTitle().raw()}" title="&{article.getTitle().raw()}" /></a>
</section>
#{/list}


