<meta charset="utf-8" />
<ul class="nav navbar-top-links navbar-right">
	<li style="display: none;" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
	</a>
		<ul class="dropdown-menu dropdown-messages">
			<li><a href="#">
					<div>
						<strong>John Smith</strong> <span class="pull-right text-muted"> <em>Yesterday</em>
						</span>
					</div>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
			</a></li>
			<li class="divider"></li>
			<li><a href="#">
					<div>
						<strong>John Smith</strong> <span class="pull-right text-muted"> <em>Yesterday</em>
						</span>
					</div>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
			</a></li>
			<li class="divider"></li>
			<li><a href="#">
					<div>
						<strong>John Smith</strong> <span class="pull-right text-muted"> <em>Yesterday</em>
						</span>
					</div>
					<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
			</a></li>
			<li class="divider"></li>
			<li><a class="text-center" href="#"> <strong>Read All Messages</strong> <i class="fa fa-angle-right"></i>
			</a></li>
		</ul> <!-- /.dropdown-messages --></li>
	<!-- /.dropdown -->
	<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
	</a>
		<ul class="dropdown-menu dropdown-user">
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};"><a href="/admin/empresa/${id}"><i>Conectado a</i> <b>${institutionName}</b></a></li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};"><a href="/admin/usuario/${idu}"><i class="fa fa-user fa-fw"></i> Meu Perfil</a></li>
			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};"><a href="/admin/empresa/${id}"><i class="fa fa-gear fa-fw"></i> Dados da Empresa</a></li>
<!-- 			<li style="display: ${enableUser == 'false' ? 'none' : 'block'};"><a href="/admin/financeiro/${id}"><i class="fa fa-money fa-fw"></i> Financeiro</a></li> -->
			<li class="divider"></li>
			<li><a href="@{Secure.logout()}"><i class="fa fa-power-off fa-fw"></i> Sair</a></li>
		</ul> <!-- /.dropdown-user --></li>
	<!-- /.dropdown -->
</ul>