<meta charset="utf-8" />
<div class="table-responsive">
	<table class="table table-hover" id="orderOfServiceTable">
		<thead>
			<tr>
				<th>Ref./Obs.</th>
				<th>Serviço</th>
				<th>Qtd</th>
				<th>Preço Unit.</th>
				<th>Desconto (%)</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			#{list orderOfServiceValues, as:'value'}
				<tr>
					<td><input name="value.reference" class="reference" value="${value.reference}" onclick="this.select();" style="width: 80px"></td>
					<td><span id="${value.service?.id}" class="serviceId" accesskey="${value?.id}">${value.service?.title}</span></td>
					<td><input name="value.qtd" value="${value.qtd}" onclick="this.select();" style="width: 60px" class="qtd"></td>
					<td><input name="value.unitPrice" value="${value.unitPrice}" onclick="this.select();" style="width: 60px" class="number basePrice"></td>
					<td><input name="value.discount" value="${value.discount}" onclick="this.select();" style="width: 60px" class="percent discount"></td>
					<td><input name="value.subTotal" value="${value.subTotal}" onclick="this.select();" style="width: 60px" class="number subTotal"></td>
					<td><button id="removerItem" type="button" class="btn btn-danger btn-circle" value="${value.id}"  data-toggle="modal" data-target="#removeModal" onclick="$(this).closest('tr').remove(); setTimeout(function() { resetTable() }, 500);">
							<i class="fa fa-times"></i>
						</button></td>
				</tr>
			#{/list}
		</tbody>
	</table>
	<input type="hidden" id="orderOfServiceValue" name="orderOfServiceValue" value="" />
	
</div>
