<meta charset="utf-8" />
		<input type="hidden" id="response" name="response" value="${response}" /> 
		<input type="hidden" id="status" name="status" value="${status}" />
		#{list items:listOrderOfService, as:'orderOfService'}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<i class="fa &{orderOfService.getCurrentStatus() == 'Finalizada' ? 'fa-lock' : 'fa-unlock'} fa-fw"></i> <input type="text" value="&{orderOfService?.orderCode}" onclick="this.select()" readonly="readonly" style="font-weight: bold; width: 100px;" /> <a data-toggle="collapse" data-parent="#accordion" href="#collapse&{orderOfService?.orderCode}" aria-expanded="false" class="collapsed">✷  ${orderOfService?.postedAtParsed} ✷  &{orderOfService?.client?.toString()} ✷  &{orderOfService?.client?.phone} ✷  &{orderOfService?.client?.mail}</a>
					</h4>
				</div>
				<div id="collapse&{orderOfService.orderCode}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
					#{list items:orderOfService.mapOrderServiceSteps.keySet(), as:'key'}
						<div class="col-lg-12">
							<h4 style="color: #33AFE5; text-align: center;">
								<b>&{key.getTitle()}</b>
							</h4>
							<h5 style="color: gray; text-align: center;">
								<b>&{key.getDescription()}</b>
							</h5>
						</div>
						<div class="panel-body">
							#{list orderOfService.mapOrderServiceSteps.get(key), as:'orderServiceStep'}
                            	Fase ${orderServiceStep_index} <label>&{orderServiceStep.step.title}</label> 
                                <code>
                                	Status atual: <label style="font-style: italic; color: red;">&{orderServiceStep.status.label}</label>
                                </code>
                                <blockquote id="option-&{orderOfService.orderCode}-&{orderServiceStep.step.id}" style="padding: 0px 5px;">
									<div class="form-group">
										#{list orderServiceStep.status.values(), as:'status'}
	                                    	<label class="radio-inline">
	                                        	<input name="option-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}" id="radio-${UUID.randomUUID().toString()}-${status_index}" #{if String.valueOf(status.value).equals(String.valueOf(orderServiceStep.status.value))}checked="checked"#{/if} value="&{status.value}" type="radio" onchange="updateRadioValue(this.name, this.value);">&{status.label}
	                                        </label>
										#{/list}
	                                </div>
	                                <div class="form-group">
	                                	<label>Observação</label>
	                                    <input class="form-control" id="obs-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}" placeholder="Caso haja algum imprevisto nesta fase, deixe o seu cliente informado." value="&{orderServiceStep.obs}">
	                                </div>
	                                <div class="form-group">
	                                    <input id="btnSaveObs" class="btn btn-default" type="button" value="Salvar observação" onclick="updateObsOrderStep(document.getElementById('obs-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').id, document.getElementById('obs-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').value);" />
	                                </div>
	                                <div class="form-group">
	                                	<label>Notificar  &{orderOfService.client.toString()}</label>
	                                    <input class="form-control" id="sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}" value="Ola, &{orderOfService.client.name.trim()}. Status atual do pedido &{orderOfService.orderCode}: Fase ${orderServiceStep_index}, &{orderServiceStep.status.label}. Acompanhe! Att., &{institution.institution}." />
	                                </div>
	                                <div class="container" id="formNotifButtons" style="width: 100%; padding: 0; margin: 0">
											<div class="col-xs-4" style="padding: 0">
			                                    <input class="btn btn-default" type="button" value="Push" onclick="sendPUSH(document.getElementById('sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').id, document.getElementById('sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').value, 'accordion');" />
											</div>
											<div class="col-xs-4" style="padding: 0">
			                                    <input class="btn btn-default" type="button" value="E-mail" onclick="sendEmail(document.getElementById('sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').id, document.getElementById('sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').value, 'accordion');" />
											</div>
											<div class="col-xs-4" style="padding: 0">
			                                    <input class="btn btn-default ${planSPO02 ? '' : 'disableComponent'}" type="button" value="SMS" onclick="sendSMS(document.getElementById('sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').id, document.getElementById('sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}').value, 'accordion');" style="display: ${!smsExceedLimit ? 'inline' : 'none'};" />
											</div>
	                                </div>
                                	<div id="message-option-&{orderOfService.orderCode}-&{orderServiceStep.step.id}"></div>
                                	<div id="message-sms-&{orderOfService.orderCode}-&{orderServiceStep.id}-&{orderServiceStep.step.id}"></div>
                                </blockquote>
							#{/list}
						</div>
					#{/list}
				</div>
			</div>
		#{/list}
	