<div id=":1fb" class="a3s aXjCH m14d93659b00650ae">
   <div style="font-family: Arial; font-size: 14px">
      <div>
         <div style="overflow: hidden">
            <div style="font-family: Arial; font-size: 14px">
               <div>
                  <div style="overflow: hidden">
                     <div style="font-family: Arial; font-size: 14px">
                        <div>
                           <div style="overflow: hidden">
                              <div bgcolor="#EBEBEB">
                                 <table bgcolor="#EBEBEB" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                       <tr align="center">
                                          <td align="center">
                                             <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                   <tr>
                                                      <td align="center" height="30" style="height: 30px">&nbsp;</td>
                                                   </tr>
                                                   <tr>
                                                      <td align="center">
                                                         <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="text-align: center; border: #e3e3e3 solid 1px; border-radius: 7px" width="382">
                                                            <tbody>
                                                               <tr>
                                                                  <td align="center">
                                                                     <table bgcolor="#fff" border="0" cellpadding="0" cellspacing="0" style="border-radius: 7px" width="380">
                                                                        <tbody>
                                                                           <tr>
                                                                              <td align="center" style="width: 35px">&nbsp;</td>
                                                                              <td align="center">
                                                                                 <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="text-align: center" width="310">
                                                                                    <tbody>
                                                                                       <tr>
                                                                                          <td align="center" height="40" style="height: 40px">&nbsp;</td>
                                                                                       </tr>
                                                                                       <tr align="center">
                                                                                          <td style="text-align: center"><img alt="" class="m_3594026484717175708CToWUd CToWUd" src=""
                                                                                             style="border-radius: 5%; border: 1px solid rgb(227, 227, 227); width: 80px; min-height: 80px"></td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center" height="20" style="height: 20px; font-size: 11px; font-style: italic;">${play.configuration.getProperty('site.domain')}</td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center">
                                                                                             <p>
                                                                                                <span style="color: #000000"><span
                                                                                                   style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: lighter; text-align: center"><span
                                                                                                   class="il">Ol&aacute;</span>, <span class="il">Lucas</span>!</span></span>
                                                                                             </p>
                                                                                             <p>
                                                                                                <span style="color: #808000"><span
                                                                                                   style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: lighter; text-align: center"><strong>Seu
                                                                                                pedido foi atualizado!</strong> </span></span><br> <br> <strong> <span
                                                                                                   style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: lighter; text-align: center">
                                                                                                <span
                                                                                                   style="font-size: 17px; line-height: 26px; font-family: HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: lighter; text-align: center">
                                                                                                VEJA ABAIXO: </span>
                                                                                                </span>
                                                                                                </strong>
                                                                                             </p>
                                                                                             <p>
                                                                                                <span
                                                                                                   style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center"><span><span
                                                                                                   style="font-size: 17px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; float: left">C&oacute;digo:
                                                                                                <strong style="font-weight: bold">JV122099</strong>
                                                                                                </span> </span></span>
                                                                                             </p>
                                                                                             <br />
                                                                                             <p>
                                                                                                <span
                                                                                                   style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center"><span><span
                                                                                                   style="font-size: 17px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; float: left">Fase:
                                                                                                <strong style="font-weight: bold">Finalizada</strong>
                                                                                                </span> </span></span>
                                                                                             </p>
                                                                                             <br />
                                                                                             <p>
                                                                                                <span
                                                                                                   style="font-size: 20px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; text-align: center"><span><span
                                                                                                   style="font-size: 17px; line-height: 26px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif; color: #636363; font-weight: lighter; float: left">Obs.:
                                                                                                <strong style="font-weight: bold">Nenhuma</strong>
                                                                                                </span> </span></span>
                                                                                             </p>
                                                                                          </td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td height="20" style="height: 40px; border-bottom-color: rgb(227, 227, 227); border-bottom-style: solid; border-bottom-width: 1px; font-style: italic;">Atenciosamente, JV Cell.</td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center" height="20" style="height: 20px; border-bottom: #e3e3e3 solid 1px; padding: 5px">Clique para acompanhar as etapas e
                                                                                             detalhes do seu pedido
                                                                                          </td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center" height="20" style="height: 20px">&nbsp;</td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center" bgcolor="#4098BC" style="border-radius: 5px">
                                                                                             <div>
                                                                                                <a href="${play.configuration.getProperty('site.domain')}"
                                                                                                   style="background-color: #808000; border-radius: 5px; color: #ffffff; display: inline-block; font-family: sans-serif; font-size: 16px; font-weight: bold; line-height: 50px; text-align: center; text-decoration: none; width: 310px"
                                                                                                   target="_blank" data-saferedirecturl="${play.configuration.getProperty('site.domain')}">${play.configuration.getProperty('site.domain')}</a>
                                                                                             </div>
                                                                                          </td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center" height="20" style="height: 20px; font-size: 11px; font-style: italic;"><strong>Acompanhamento de Pedidos e Serviços</strong>
                                                                                          </td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center"
                                                                                             style="font-size: 11px; color: #cfcfcf; font-style: italic; text-align: center; padding-top: 5px; font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica, Arial, sans-serif">&nbsp;</td>
                                                                                       </tr>
                                                                                       <tr>
                                                                                          <td align="center" height="40" style="height: 40px">&nbsp;</td>
                                                                                       </tr>
                                                                                    </tbody>
                                                                                 </table>
                                                                              </td>
                                                                              <td align="center" style="width: 35px">&nbsp;</td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                               <tr>
                                                                  <td align="center">
                                                                     <table bgcolor="#F7F7F7" border="0" cellpadding="0" cellspacing="0"
                                                                        style="border-top: #e3e3e3 solid 1px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px" width="380">
                                                                        <tbody>
                                                                           <tr>
                                                                              <td align="center">&nbsp;</td>
                                                                           </tr>
                                                                           <tr>
                                                                              <td align="center">
                                                                                 <table align="center" border="0" cellpadding="0" cellspacing="0" width="310"></table>
                                                                              </td>
                                                                           </tr>
                                                                        </tbody>
                                                                     </table>
                                                                  </td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                   <tr align="center">
                                                      <td align="center">
                                                         <table border="0" cellpadding="0" cellspacing="0" style="text-align: center" width="382">
                                                            <tbody>
                                                               <tr>
                                                                  <td align="center">&nbsp;</td>
                                                               </tr>
                                                               <tr style="text-align: center">
                                                                  <td align="center">&nbsp;</td>
                                                               </tr>
                                                            </tbody>
                                                         </table>
                                                      </td>
                                                   </tr>
                                                   <tr>
                                                      <td align="center" height="30" style="height: 30px">&nbsp;</td>
                                                   </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                    </tbody>
                                 </table>
                                 <div>&nbsp;</div>
                                 <div>&nbsp;</div>
                              </div>
                              <div>&nbsp;</div>
                           </div>
                        </div>
                        <p>&nbsp;</p>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                     </div>
                     <div>&nbsp;</div>
                  </div>
               </div>
               <p>&nbsp;</p>
               <div class="m_3594026484717175708yj6qo">&nbsp;</div>
               <div class="m_3594026484717175708adL">&nbsp;</div>
            </div>
            <div class="m_3594026484717175708adL">&nbsp;</div>
         </div>
      </div>
      <p>
         <br>
      </p>
      <div class="yj6qo"></div>
      <div class="adL"></div>
   </div>
   <div class="adL"></div>
</div>