<html lang="${lang}">
<head>
<meta charset="utf-8" />
#{set title:'Primeiros passos' /} #{include 'includes/headCrud.html' /}
<link href="@{'public/stylesheets/prettify.css'}" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<!-- Logo navbar -->
			<!-- Logo navbar -->
		</nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">${status}</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading" style="text-align: center">&{'project.name'} © Copyright 2015 - Versão: &{'project.version'}</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->


	<!-- JQueryUI JS -->
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<!-- JQueryUI JS -->
	
	<!-- Save institution -->
	<!-- Save institution -->

	<!-- Bootstrap Core JavaScript -->
	<script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>
	<!-- Bootstrap Core JavaScript -->

	<!-- Metis Menu Plugin JavaScript -->
	<script src="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>
	<!-- Metis Menu Plugin JavaScript -->

	<!-- Custom Theme JavaScript -->
	<script src="@{'public/templatebootstrap/dist/js/sb-admin-2.js'}"></script>
	<!-- Custom Theme JavaScript -->

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>
	<script src="@{'public/javascripts/prettify.js'}"></script>
	<!-- JQuery Mask -->
	#{include 'includes/jQueryMask.html' /}
	<!-- JQuery Mask -->

</body>

</html>