<div class="modal fade" id="orderServiceModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 630px;">
		<div class="modal-content">
			<div class="modal-header">
				<input id="osid" name="osid" type="hidden" />
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="window.location.reload(true)">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Ordem de Servi&ccedil;o</h3>
			</div>
			<div class="modal-body">
				<div id="orderInvoice"></div>
			</div>
			<div class="modal-footer" style="text-align: left">
				<div id="editor"></div>
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.reload(true)">Fechar</button>
				<button type="button" id="create_pdf" class="btn btn-primary">Salvar em PDF e Imprimir</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="customerNotificationModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<input id="osid2" name="osid2" type="hidden" />
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title" id="myModalLabel">Notificar C&oacute;digo de Acompanhamento</h3>
			</div>
			<div class="modal-body">
				<div id="notificationArea"></div>
			</div>
			<div class="modal-footer" style="text-align: left">
				<div id="editor"></div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>