<!DOCTYPE html>
<html lang="${lang}">
<meta charset="utf-8
<!-- Head -->
#{include 'includes/headCrud.html' /}
<!-- Head -->
<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<!-- Logo navbar -->
			#{include 'includes/logoNavBar.html' /}
			<!-- Logo navbar -->
			<!-- Menu Top Side -->
			#{include 'includes/menuPainelTop.html' /}
			<!-- Menu Top Side -->
			<!-- Menu Left Side -->
			#{include 'includes/menuPainelLeft.html' /}
			<!-- Menu Left Side -->
		</nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Atualizar Pedidos</h1>
					<label style="float: right"><a data-toggle="modal" data-target="#modalVideoHelpUpdateOrders" >Quer ajuda?</a></label>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<ol class="breadcrumb">
			    <li><a href="/admin/">Início</a></li>
			    <li><a href="/admin/atualizar-pedidos">Atualizar Pedidos</a></li>
			</ol>
			
			#{if flash.success}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-info alert-dismissable">${flash.success}</div>
				</div>
			</div>
			#{/if} #{if flash.error || error}
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger alert-dismissable">${error ?: flash.error}</div>
				</div>
			</div>
			#{/if}
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">Clique nos itens abaixo para atualizar</div>
						<div class="panel-body">
							<div class="panel-group" id="accordion">
								#{include 'includes/updateOrderSteps.html' /}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" style="text-align: center">&{'project.name'} © Copyright 2015 - Versão: &{'project.version'}</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->
	</div>
	<div class="modal fade" id="modalVideoHelpUpdateOrders" tabindex="-1" role="dialog" aria-labelledby="modalVideoHelpUpdateOrdersLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="modalVideoHelpUpdateOrdersLabel">${videohelpUpdateOrders?.label} - Veja o vídeo abaixo</h4>
				</div>
				<div class="modal-body" id="modal-body">
					<input type="hidden" id="response" name="response" value="${response}" /> 
					<input type="hidden" id="status" name="status" value="${status}" />
					<div class="form-group">
						<iframe width="560" height="315" src="${videohelpUpdateOrders?.value}?rel=0&autoplay=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- footerCrud -->
	#{include 'includes/footerCrud.html' /}
	<script type="text/javascript" src="@{'public/javascripts/functions.js'}"></script>
	<!-- footerCrud -->
</body>
</html>
