<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acompanhamento de Pedidos e Serviços | SeuPedido.online</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="@{'public/templatebootstrap/bower_components/bootstrap/dist/css/bootstrap.css'}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.css'}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@{'public/templatebootstrap/dist/css/timeline.css'}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@{'public/templatebootstrap/dist/css/sb-admin-2.css'}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@{'public/templatebootstrap/bower_components/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
    
    <link href="@{'public/stylesheets/wizardstep.css'}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js'} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js'} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js'}/1.4.2/respond.min.js'}"></script>
    <![endif]-->
</head>
<body>
    <input type="hidden" id="orderCode" value="${orderOfService.orderCode}">
    <div id="wrapper">
        <div id="page-wrapper" style="margin: 0; border: 1px solid #e7e7e7; padding: 0 10px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" style="text-align: center;">Olá, <b>${clientName.trim()}.</b></h1>
                    <h4 style="text-align: center;">Veja abaixo os detalhes do seu pedido.</h4>
                    <h4 style="text-align: right">Código <b>${orderOfService.orderCode}</b></h4>
                    <h5 style="text-align: right"><i>Por </i> <b>${company}</b></h5>
                    <h5 style="text-align: right"><i>Pedido em</i> <b>${orderOfService.postedAtParsed}</b></h5>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-12">
                	<input type="button" class="btn btn-info" value="Atualizar" onclick="javascript:location.reload();" style="float:right; margin-bottom: 10px" />
                </div>
            </div>
            <div class="container" style="width: auto; padding: 0;">
				#{list items:mapOrderServiceSteps.keySet(), as:'key'}
					<div class="panel panel-default">
						<div class="panel-heading"> 
							<div class="row">
								<div class="col-lg-12">
									<h4 style="color: #33AFE5; text-align: left">
										<b>${key.getTitle()}</b>
									</h4>
									<h5 style="color: gray; text-align: left">
										<b>${key.getDescription()}</b>
									</h5>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div  class="col-xs-12" style="padding-left: 0px; padding-right: 0px;">
								<h3 style="text-align: center; color: #006936; font-size: 1.2em">Para detalhar, clique em alguma fase.</h3>
						        <div class="col-xs-6">
						            <!-- required for floating -->
						            <!-- Nav tabs -->
						            <ul class="nav nav-tabs tabs-left">
									#{list mapOrderServiceSteps.get(key), as:'orderServiceStep'}
						                <li class="&{orderServiceStep.status.value == 'inprogress' ? 'active' : orderServiceStep.status.value == 'finished' ? 'complete' : orderServiceStep.status.value == 'notstarted' ? 'disabled' : 'complete'}">
						                	<a href="#step_${orderServiceStep_index}_${orderServiceStep.step.id}" data-toggle="tab">
							                	<p style="font-weight: bold">Fase ${orderServiceStep_index} - &{orderServiceStep.step.title.raw()}</p>
							                	<p>&{orderServiceStep.status.label}</p>
							                </a>
						                </li>
									#{/list}
						            </ul>
						        </div>
						        <div class="col-xs-6">
						            <!-- Tab panes -->
						            <div class="tab-content">
										#{list mapOrderServiceSteps.get(key), as:'orderServiceStep'}
							                <div id="step_${orderServiceStep_index}_${orderServiceStep.step.id}" class="tab-pane &{orderServiceStep.status.value == 'inprogress' ? 'active' : orderServiceStep.status.value == 'finished' ? 'complete' : orderServiceStep.status.value == 'notstarted' ? 'disabled' : 'complete'}" >
												<div class="list-group">
						                            <a class="list-group-item">
						                                <h4 class="list-group-item-heading">&{orderServiceStep.step.title.raw()}</h4>
						                                <p class="list-group-item-text">&{orderServiceStep.step.description.raw()}</p>
						                            </a>
						                            <a class="list-group-item">
													<div class="text-center" style="color: #44545B; color: #44545b; font-size: 0.9em; padding: 0;"><strong>Obs.:</strong> &{orderServiceStep.obs}</div>
						                            </a>
						                        </div>
							           	 	</div>
										#{/list}
						        	</div>
						        	<div class="clearfix"></div>
						    	</div>
	                    	</div>
                    	</div>
	                    <div class="panel-footer">
							Obs. do Pedido: <b>${orderOfService.obs == '' ? 'Nenhuma' : orderOfService.obs}</b>
                        </div>
					</div>
			#{/list}
        </div>
    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@{'public/templatebootstrap/dist/js/sb-admin-2.js'}"></script>

</body>

</html>
