<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WWMNHWH');</script>
<!-- End Google Tag Manager -->
<title>Seu Cliente Paciente | Seu Pedido Online </title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Acompanhamento de Pedidos e Serviços | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
<meta name="author" content="Seu Pedido Online">
<link rel="apple-touch-icon" sizes="57x57" href="@{'public/images/apple57x57.png'}">
<link rel="apple-touch-icon" sizes="60x60" href="@{'public/images/apple60x60.png'}">
<link rel="apple-touch-icon" sizes="72x72" href="@{'public/images/apple72x72.png'}">
<link rel="apple-touch-icon" sizes="76x76" href="@{'public/images/apple76x76.png'}">
<link rel="apple-touch-icon" sizes="114x114" href="@{'public/images/apple114x114.png'}">
<link rel="apple-touch-icon" sizes="120x120" href="@{'public/images/apple120x120.png'}">
<link rel="apple-touch-icon" sizes="144x144" href="@{'public/images/apple144x144.png'}">
<link rel="apple-touch-icon" sizes="152x152" href="@{'public/images/apple152x152.png'}">
<link rel="icon" type="image/png" href="@{'public/images/favicon16x16.png'}" sizes="16x16">
<link rel="icon" type="image/png" href="@{'public/images/favicon32x32.png'}" sizes="32x32">
<link rel="icon" type="image/png" href="@{'public/images/favicon96x96.png'}" sizes="96x96">
<link rel="icon" type="image/png" href="@{'public/images/favicon160x160.png'}" sizes="160x160">
<link rel="icon" type="image/png" href="@{'public/images/favicon196x196.png'}" sizes="196x196">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="@{'public/images/logo-admin.png'}">
<meta name="keywords" content="acompanhamento de serviços, acompanhamento de pedido, marketing digital, serviço, pedidos, orcamentos, ordem de servico">
<meta property="twitter:card" content="Acompanhamento de Pedidos e Serviços">
<meta property="twitter:site" content="www.seupedido.online">
<meta property="twitter:title" content="Seu Pedido Online | Sistema Para Acompanhamento de Serviço">
<meta property="twitter:description" content="Acompanhamento de Pedidos e Serviços | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
<meta property="og:title" content="Seu Pedido Online | Sistema Para Acompanhamento de Pedidos e Serviços">
<meta property="og:description" content="Acompanhamento de Pedidos e Serviços | Comunique-se Com Seu Cliente Por Notificações Push, E-mails e SMS">
<meta property="og:site_name" content="Seu Pedido Online">
<meta property="og:image" content="@{'public/images/logo-admin.png'}">
<link rel="shortcut icon" type="image/png" href="@{'public/images/favicon16x16.png'}" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(null, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<link href="@{'public/templatepublic/css/bootstrap.css'}" rel='stylesheet' type='text/css' />
<link href="@{'public/templatepublic/css/style.css'}" rel='stylesheet' type='text/css' />
<link href="@{'public/templatepublic/css/main.css'}" rel='stylesheet' type='text/css' />
<script src="@{'public/templatepublic/js/jquery-1.11.0.min.js'}"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="@{'public/templatepublic/js/move-top.js'}"></script>
<script type="text/javascript" src="@{'public/templatepublic/js/easing.js'}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
		$('#orderCode').val('');
	});
</script>

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
<script>
		var OneSignal = window.OneSignal || [];
		OneSignal.push(["init", {
		appId: "7257d6a5-5298-43ee-b0d5-e2b89cfaab11",
		autoRegister: true, /* Set to true to automatically prompt visitors */
		subdomainName: 'https://seupedido.onesignal.com',   
		persistNotification: false,
		httpPermissionRequest: {
			enable: false
		},
		httpPermissionRequest: {
            modalTitle: 'Obrigado pela inscrição',
            modalMessage: "Agora você receberá nossas notificações. Você pode cancelar sua inscrição a qualquer momento.",
            modalButtonText: 'Fechar',
            useCustomModal: true        
		},
        promptOptions: {
			/* Change bold title, limited to 30 characters */
			siteName: 'Confirmação de recebimento',
			/* Subtitle, limited to 90 characters */
			actionMessage: "Confirme para receber dicas úteis sobre tecnologia.",
			/* Example notification title */
			exampleNotificationTitle: 'Este é um exemplo de notificação',
			/* Example notification message */
			exampleNotificationMessage: 'Aqui vai a descrição da notificação...',
			/* Text below example notification, limited to 50 characters */
			exampleNotificationCaption: 'Obs.: Você poderá cancelar em qualquer momento!',
			/* Accept button text, limited to 15 characters */
			acceptButtonText: "EU QUERO! :)",
			/* Cancel button text, limited to 15 characters */
			cancelButtonText: "EU NÃO QUERO!"
		},
		welcomeNotification: {
			"title": "Seu Pedido Online",
			"message": "Obrigado pela inscrição",
			 "url": "http://seupedido.online"
		}
    }]);
    </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWMNHWH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<section id="banner" style="padding: 0">
		<div id="home">
				<div class="header" style="z-index: 9999;">
					<div class="navigation">
						<span class="menu"></span>
						<ul class="navig">
							<li><a href="#about" class="scroll">COMO FUNCIONA?</a></li>
							<li><a href="#features" class="scroll">SERVE PRA MIM?</a></li>
							<li><a class="popup-with-zoom-anim active" href="#small-dialog" onclick="$('#formQuickAccount').load(location.href+' #formQuickAccount>*',''); ">CRIE UMA CONTA</a></li>
							<li><a class="popup-with-zoom-anim" href="#small-dialog1" onclick="$('#formMessage').load(location.href+' #formMessage>*',''); ">TENHO DÚVIDAS</a></li>
							<li><a href="/login" target="_blank">ENTRAR</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<ul id="menu-lateral" style="display: none">
					<li><span class="wtp"> </span><a href="#small-dialog1"><span class="wtp"> </span></i></a>
				</ul>
				
				<div class="inner">

					<div>
						<a href="@{Application.index}"><img src="@{'public/templatepublic/images/logo-small.png'}" alt="Seu Pedido Online - Acompanhamento de Pedidos e Serviços"
							title="Seu Pedido Online - Acompanhamento de Pedidos e Serviços"></a>
					</div>
					
					<header>
						<h2>INCRÍVEL!</h2>
					</header>
					
					<p>SISTEMA PARA</p>
					<p>ACOMPANHAMENTO DE SERVIÇOS</p>
					
					<footer>
						<ul class="buttons vertical">
							<li><a href="#about" class="button fit scrolly scroll" style="background-color: #F0A939">QUERO CONHECER</a></li>
							<li><a href="/acompanhe" target="_blank" class="button fit">ACOMPANHAR PEDIDO</a></li>
						</ul>
					</footer>
				</div>
				
				<div class="banner-btm">
					<div id="top" class="callbacks_container">
						<ul class="rslides" id="slider4">
							<li>
								<div class="banner-bottom">
									<h1>
										TRABALHE ENQUANTO O CLIENTE <br /> AGUARDA PACIENTEMENTE
									</h1>
									<p>Gere um Código de Acompanhamento</p>
								</div>
							</li>
							<li>
								<div class="banner-bottom">
									<h1>
										COMUNIQUE POR NOTIFICAÇÕES <br /> PUSH, E-MAIL OU SMS
									</h1>
									<p> Houve Imprevisto? Ou, Já Pode Buscar?</p>
								</div>
							</li>
							<li>
								<div class="banner-bottom">
									<h1>
										CONTROLE PEDIDOS, SERVIÇOS <br />E FATURAMENTO
									</h1>
									<p>Organize o Seu Negócio</p>
								</div>
							</li>
							<li>
								<div class="banner-bottom">
									<h1>
										O QUE SÃO <br/>NOTIFICAÇÕES PUSH?
									</h1>
									<p>Para saber, clique <a href="/dicas" target="_blank"><strong>aqui</strong></a>. :)</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
		</div>
	</section>
	<!-- script-for-menu -->
	<script>
		$("span.menu").click(function() {
			$(" ul.navig").slideToggle("slow", function() {
			});
		});
	</script>
	<!-- script-for-menu -->
	<!--Slider-Starts-Here-->
	<script src="@{'public/templatepublic/js/responsiveslides.min.js'}"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function() {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto : true,
				pager : true,
				nav : true,
				speed : 500,
				namespace : "callbacks",
				before : function() {
					$('.events').append("<li>before event fired.</li>");
				},
				after : function() {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	
		<article id="main">
			<section class="wrapper style4 special container 75%" id="features">
				<div class="account" style="background-color: #fff; padding-bottom: 50px; padding-top: 0">
					<div class="portfolio-top">
						<ul id="filters" class="clearfix">
							<li style="margin: 5px;"><span class="filter">ASSISTÊNCIA TÉCNICA</span></li>
							<li style="margin: 5px;"><span class="filter">CONFEITARIAS</span></li>
							<li style="margin: 5px;"><span class="filter">CENTROS AUTOMOTIVOS</span></li>
							<li style="margin: 5px;"><span class="filter">ENCOMENDAS</span></li>
							<li style="margin: 5px;"><span class="filter">SERVIÇOS ARTESANAIS</span></li>
							<li style="margin: 5px;"><span class="filter">ENTREGAS</span></li>
							<li style="margin: 5px;"><span class="filter">CLÍNICAS</span></li>
							<li style="margin: 5px;"><span class="filter">CONSULTÓRIOS</span></li>
							<li style="margin: 5px;"><span class="filter">OFICINAS</span></li>
							<li style="margin: 5px;"><span class="filter">EMISSÃO DE PROCESSOS</span></li>
							<li style="margin: 5px;"><span class="filter">TRANSPORTE</span></li>
						</ul>
					</div>
					<div class="special-bottom" id="products" style="margin: 10px">
						<h2 style="margin:0;">
							Você presta algum serviço?
						</h2>
						<h3 style="margin:0;">SE SIM,</h3>
						<h3 style="color: gray; margin: 0; font-weight: normal">
							este Sistema <b>Pode Te Ajudar</b>!
						</h3>
					</div>
				</div>
				<footer id="mailListTop">
					#{include 'includes/formNewsletterTop.html' /}
				</footer>
			</section>
		</article>
		<div class="contact" id="about" >
			<div class="about-main">
				<div class="container">
					<h1 style="color: #00CCFF; font-weight: 900">O Que é?</h1>
					<h2 style="color: #666666; font-weight: bold">Este é um Sistema Para Acompanhamento de Pedidos e Serviços.</h2>
					<h3>
						<b>Tudo Que Você Estiver</b> Produzindo <br/> <b>Pode Ser</b> Acompanhado <b>Pelo Seu Cliente</b>.
					</h3>
					<br/>
					<h2>
					<b>Ou Seja</b>, O Seu Cliente Acompanha As <b>Etapas</b> 
					<br/>
					e os <b>Detalhes</b> da Produção.
					</h2>
					<h3>Veja Como:</h3>
				</div>
			</div>
			<section class="wrapper style2 container special-alt" style="padding: 0;">
					<iframe width="100%" height="768" src="https://www.youtube.com/embed/t_1MPoLMe4Y?rel=0&version=3&autoplay=1&controls=0&showinfo=1&loop=1" frameborder="0" allowfullscreen ></iframe>
			</section>
			<div class="about-main">
				<div class="container">
					<h1 style="color: #00CCFF; font-weight: 900">O Que é Esta Imagem Acima?</h1>
					<h2 style="color: #666666; font-weight: bold">É A Área de Acompanhamento.</h2>
					<h3>
						<b>Através do Código da ordem de serviço</b><br /> seu cliente acompanha tudo em tempo real.</b>
					</h3>
				</div>
				<div class="container" style="margin-top: 50px">
					<h1 style="color: #00CCFF; font-weight: 900">
						<b>1, 2, 3</b> passos básicos <b>Para o Sistema Funcionar</b>:
					</h1>
				</div>
			</div>
	</div>
		<div class="container">
			<div class="about-bottom" style="margin: 0;">
				<div class="abt">
					<div class="col-md-4 about-left">
						<div class="abt-one">
							<div class="abt-left">
								<span class="flr"> </span>
							</div>
							<div class="abt-right">
								<h4>#1 Ordem de Serviço</h4>
								<p>Você Irá Criar Uma Ordem de Serviço a um Cliente</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-4 about-left">
						<div class="abt-one">
							<div class="abt-left">
								<span class="hnd active"> </span>
							</div>
							<div class="abt-right">
								<h4><strong>#2</strong> Código</h4>
								<p>Ele Receberá um Código de Acompanhamento</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-4 about-left">
						<div class="abt-one">
							<div class="abt-left">
								<span class="flg active"> </span>
							</div>
							<div class="abt-right">
								<h4>#3 Atualização</h4>
								<p>Você Atualizará o Andamento e Ele Acompanhará Por Aqui</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="about-main">
						<div class="container">
							<h1 style="color: #00CCFF; font-weight: 900">Como Seu Cliente Será Avisado Por Você?</h1>
							<h2 style="color: #666666; font-weight: bold">De 4 formas:</h2>
							<h3>
								1. Pela Área de Acompanhamento. [<a href="https://seupedido.online/acompanhe" target="_blank">Clique Aqui</a>];
							</h3>
							<h3>
								2. Por E-mail (Envio Ilimitado);
							</h3>
							<h3>
								3. Por Notificações Push (Envio Ilimitado);
							</h3>
							<h3>
								4. Por SMS (Envio Ilimitado)*.
							</h3>
							<p>* SMSs são cobradas de forma avulsa pela unidade enviada.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section id="cta">
		<div class="col-md-12">
			<div class="col-md-4 spl-left">
				<div class="spl-one">
					<span class="hnd"></span>
					<h4>Controle de</h4>
					<p>Pedidos</p>
				</div>
			</div>
			<div class="col-md-4 spl-left">
				<div class="spl-one">
					<span class="wtp"> </span>
					<h4>Boa</h4>
					<p>Comunicação</p>
				</div>
			</div>
			<div class="col-md-4 spl-left">
				<div class="spl-one">
					<span class="sml"></span>
					<h4>Cliente</h4>
					<p>Satisfeito</p>
				</div>
			</div>
		</div>
	
		<header>
			<h2>Bom relacionamento é a <strong>chave de tudo</strong>!</h2>
			<p>Atendimento de <strong>Excelência</strong> é Raridade.</p>
			<p>Uma Vez Confortável, Respeitado e Valorizado, Seu Cliente o Indicará.</p>
		</header>
		
		<br />
		<br />
		<br />
		
		<footer id="mailListBottom">
			#{include 'includes/formNewsletterBottom.html' /}
		</footer>
	</section>
	
	<section id="cta2">
		<div class="col-md-12" style="background-color: #fff; padding-bottom: 30px; margin-bottom: 30px;">
			<h3 style="text-transform: uppercase; color: #333333; font-size: 1.7em; font-weight: 900; margin: 0;">DICAS DE TECNOLOGIA <span style="color: #00CCFF;">#TMFTQS</span></h3>
			<h4 style="text-transform: uppercase; color: #ccc; font-size: 1.2em; font-weight: 900; margin: 0;"><span style="color: #00CCFF;">T</span>odo <span style="color: #00CCFF;">M</span>undo <span style="color: #00CCFF;">F</span>alando, <span style="color: #00CCFF;">T</span>ambém <span style="color: #00CCFF;">Q</span>uero <span style="color: #00CCFF;">S</span>aber</h4>
			#{list listArticles, as:'article'}
				<div class="col-md-4 spl-left">
					<div class="spl-one" style="padding-top: 5px">
						<h4 style="text-transform: uppercase; margin-top: 10px;">&{article.getTitle().raw()}</h4>
						<a href="/dicas/${article.id}/${article.getFriendlyUrl()}" class="image featured"><img src="@{NewsController.getImage(article.id, '1')}" alt="" /></a>
						<p style="font-size: 25px;">&{article.getHeadline().length() > 130 ? article.getHeadline().substring(0, 128).concat("...") : article.getHeadline().raw()}</p>
					</div>
					<footer>
						<ul class="buttons">
							<li><a href="/dicas/${article.id}/${article.getFriendlyUrl()}" target="_blank" class="button small" style="color: #ccc">Leia mais</a></li>
						</ul>
					</footer>
				</div>
			#{/list}
		</div>
		<a href="/dicas" target="_blank" class="button small" style="color: #ccc">Todas As Dicas</a></li>
	</section>
	
	<!--end-about-->
	<link rel="stylesheet" href="@{'public/templatepublic/css/swipebox.css'}">
	<script src="@{'public/templatepublic/js/jquery.swipebox.min.js'}"></script>
	<script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
	<!---pop-up-box---->
	<script type="text/javascript" src="@{'public/templatepublic/js/modernizr.custom.min.js'}"></script>
	<link href="@{'public/templatepublic/css/popup-box.css'}" rel="stylesheet" type="text/css" media="all" />
	<script src="@{'public/templatepublic/js/jquery.magnific-popup.js'}" type="text/javascript"></script>
	<!---//pop-up-box---->
	<div id="small-dialog" class="mfp-hide">#{include 'includes/newQuickAccount.html' /}</div>
	<div id="small-dialog1" class="mfp-hide">#{include 'includes/newQuickContact.html' /}</div>
	<script>
		$(document).ready(function() {
			$('.popup-with-zoom-anim').magnificPopup({
				type : 'inline',
				fixedContentPos : false,
				fixedBgPos : true,
				overflowY : 'auto',
				closeBtnInside : true,
				preloader : false,
				midClick : true,
				removalDelay : 300,
				mainClass : 'my-mfp-zoom-in'
			});

		});
	</script>
	<!--End-pop-up-box-->
	<!--start-contact-->
	<!--start-footer-->
	#{include 'includes/footerPublic.html' /}
	<!--end-footer-->
	<script type="text/javascript" src="@{'public/javascripts/jquery.mask.min.js'}"></script>
	<script type="text/javascript">
		$(function() {
			$('.age').mask('00');
			$('.date').mask('00/00/0000');
			$('.time').mask('00:00:00');
			$('.date_time').mask('00/00/0000 00:00:00');
			$('.cep').mask('00000-000');
			$('.phone').mask('0000-0000');
			$('.phone_with_ddd').mask('(00) 0000-0000');
			$('.phone9_with_ddd').mask('(00) 00000-0000');
			$('.phone_us').mask('(000) 000-0000');
			$('.mixed').mask('AAA 000-S0S');
			$('.ip_address').mask('099.099.099.099');
			$('.percent').mask('##0,00%', {
				reverse : true
			});
			$('.clear-if-not-match').mask("00/00/0000", {
				clearIfNotMatch : true
			});
			$('.placeholder').mask("00/00/0000", {
				placeholder : "__/__/____"
			});
			$('.fallback').mask("00r00r0000", {
				translation : {
					'r' : {
						pattern : /[\/]/,
						fallback : '/'
					},
					placeholder : "__/__/____"
				}
			});

			$('.selectonfocus').mask("00/00/0000", {
				selectOnFocus : true
			});

			$('.cep_with_callback')
					.mask(
							'00000-000',
							{
								onComplete : function(cep) {
									console.log('Mask is done!:', cep);
								},
								onKeyPress : function(cep, event, currentField,
										options) {
									console.log('An key was pressed!:', cep,
											' event: ', event,
											'currentField: ', currentField
													.attr('class'),
											' options: ', options);
								},
								onInvalid : function(val, e, field, invalid,
										options) {
									var error = invalid[0];
									console.log("Digit: ", error.v,
											" is invalid for the position: ",
											error.p,
											". We expect something like: ",
											error.e);
								}
							});

			$('.crazy_cep').mask('00000-000', {
				onKeyPress : function(cep, e, field, options) {
					var masks = [ '00000-000', '0-00-00-00' ];
					mask = (cep.length > 7) ? masks[1] : masks[0];
					$('.crazy_cep').mask(mask, options);
				}
			});

			$('.cpf').mask('000.000.000-00', {
				reverse : true
			});
			$('.money').mask('#.##0,00', {
				reverse : true
			});

			var SPMaskBehavior = function(val) {
				return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000'
						: '(00) 0000-00009';
			}, spOptions = {
				onKeyPress : function(val, e, field, options) {
					field.mask(SPMaskBehavior.apply({}, arguments), options);
				}
			};

			$('.sp_celphones').mask(SPMaskBehavior, spOptions);

			$(".bt-mask-it").click(function() {
				$(".mask-on-div").mask("000.000.000-00");
				$(".mask-on-div").fadeOut(500).fadeIn(500)
			})

			$('pre').each(function(i, e) {
				hljs.highlightBlock(e)
			});
		});
	</script>
	<script type="text/javascript" src="@{'public/javascripts/functions.js'}"></script>
	<script>
         var OneSignal = OneSignal || [];
         function subscribe() {
         	OneSignal.push(["registerForPushNotifications"]);
         	OneSignal.push(function() {
           		OneSignal.sendTags({homelead: 'homelead'});
           		return false;
            });
            event.preventDefault();
         }

         /* This example assumes you've already initialized OneSignal */
         OneSignal.push(function() {
             // If we're on an unsupported browser, do nothing
             if (!OneSignal.isPushNotificationsSupported()) {
                 return;
             }
             OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                 if (isEnabled) {
                     // The user is subscribed to notifications
                 } else {
                     subscribe();
                 }
             });
         });
     </script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-91777562-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
</body>
</html>