<!DOCTYPE HTML>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WWMNHWH');</script>
		<!-- End Google Tag Manager -->
		<title>Nova Conta | &{parameter.getSiteName()}</title>
		<meta name="description" content="Faça seu cadastro de usuário | &{parameter.getSiteName()}">
		<meta name="keywords" content="novo cadastro, nova conta, cadastro de usuário, &{parameter.getSiteName()}">
		<meta property="twitter:title" content="Nova Conta | &{parameter.getSiteName()}">
		<meta property="twitter:description" content="Faça seu cadastro de usuário | &{parameter.getSiteName()}">
		<meta property="og:title" content="Nova Conta | &{parameter.getSiteName()}">
		<meta property="og:description" content="Faça seu cadastro de usuário | &{parameter.getSiteName()}">
		<meta property="og:image" content="ApplicationConfiguration.getInstance().getSiteDomain()/public/images/logo-admin.png">
		<meta charset="utf-8" />
		#{include 'includes/headerTemplateFollow.html' /}
	</head>
	<body class="right-sidebar">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWMNHWH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="page-wrapper">
			<!-- Header -->
				#{include 'includes/menuTemplateFollow.html' /}
			<!-- Main -->
				<article id="main">
					<header class="special container">
						<span class="icon fa-user-circle-o"></span>
						<h2>Faça o seu cadastro</h2>
						<p>Experimente. Seus clientes se tornarão fãs. :)</p>
					</header>
					
					<!-- One -->
						<section class="wrapper style4 special container 75%">
							#{include 'includes/newQuickAccount.html' /}
						</section>

						<section class="wrapper style1 container special">
							<div class="row">
								#{include 'includes/lastNewsBottom.html' /}
							</div>
						</section>
				</article>
			<!-- Footer -->
			#{include 'includes/footerTemplateFollow.html' /}
			<script type="text/javascript" src="@{'public/javascripts/jquery.mask.min.js'}"></script>
	<script type="text/javascript">
		$(function() {
			$('.age').mask('00');
			$('.date').mask('00/00/0000');
			$('.time').mask('00:00:00');
			$('.date_time').mask('00/00/0000 00:00:00');
			$('.cep').mask('00000-000');
			$('.phone').mask('0000-0000');
			$('.phone_with_ddd').mask('(00) 0000-0000');
			$('.phone9_with_ddd').mask('(00) 00000-0000');
			$('.phone_us').mask('(000) 000-0000');
			$('.mixed').mask('AAA 000-S0S');
			$('.ip_address').mask('099.099.099.099');
			$('.percent').mask('##0,00%', {
				reverse : true
			});
			$('.clear-if-not-match').mask("00/00/0000", {
				clearIfNotMatch : true
			});
			$('.placeholder').mask("00/00/0000", {
				placeholder : "__/__/____"
			});
			$('.fallback').mask("00r00r0000", {
				translation : {
					'r' : {
						pattern : /[\/]/,
						fallback : '/'
					},
					placeholder : "__/__/____"
				}
			});

			$('.selectonfocus').mask("00/00/0000", {
				selectOnFocus : true
			});

			$('.cep_with_callback')
					.mask(
							'00000-000',
							{
								onComplete : function(cep) {
									console.log('Mask is done!:', cep);
								},
								onKeyPress : function(cep, event, currentField,
										options) {
									console.log('An key was pressed!:', cep,
											' event: ', event,
											'currentField: ', currentField
													.attr('class'),
											' options: ', options);
								},
								onInvalid : function(val, e, field, invalid,
										options) {
									var error = invalid[0];
									console.log("Digit: ", error.v,
											" is invalid for the position: ",
											error.p,
											". We expect something like: ",
											error.e);
								}
							});

			$('.crazy_cep').mask('00000-000', {
				onKeyPress : function(cep, e, field, options) {
					var masks = [ '00000-000', '0-00-00-00' ];
					mask = (cep.length > 7) ? masks[1] : masks[0];
					$('.crazy_cep').mask(mask, options);
				}
			});

			$('.cpf').mask('000.000.000-00', {
				reverse : true
			});
			$('.money').mask('#.##0,00', {
				reverse : true
			});

			var SPMaskBehavior = function(val) {
				return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000'
						: '(00) 0000-00009';
			}, spOptions = {
				onKeyPress : function(val, e, field, options) {
					field.mask(SPMaskBehavior.apply({}, arguments), options);
				}
			};

			$('.sp_celphones').mask(SPMaskBehavior, spOptions);

			$(".bt-mask-it").click(function() {
				$(".mask-on-div").mask("000.000.000-00");
				$(".mask-on-div").fadeOut(500).fadeIn(500)
			})

			$('pre').each(function(i, e) {
				hljs.highlightBlock(e)
			});
		});
	</script>
	</body>
</html>