<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Login | &{parameter.getSiteName()}">
<meta name="author" content="">

<title>&{parameter.getSiteName()} - Nova Senha</title>

<!-- Bootstrap Core CSS -->
<link href="@{'public/templatebootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.css'}" rel="stylesheet">

<!-- Custom CSS -->
<link href="@{'public/templatebootstrap/dist/css/sb-admin-2.css'}" rel="stylesheet">

<!-- Custom Fonts -->
<link href="@{'public/templatebootstrap/bower_components/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
	<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
				<div class="container">
                	<a class="navbar-brand" href="@{Application.index}"> 
						<img  class="img-responsive" src="@{'public/images/logo-admin.png'}" style="margin: 0 auto; width: 71%;">
					</a>
				</div>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Solicitação de Nova Senha</h2>
                    </div>
                    <div id="panel-body" class="panel-body">
                    	<input type="hidden" id="response" name="response" value="${response}" /> 
						<input type="hidden" id="status" name="status" value="${status}" />
                        <h2 style="text-align: center"><strong>${user.name}</strong>, <br/> escolha e digite abaixo uma nova senha:</h2>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="pass1" placeholder="Senha" name="password" type="password" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="pass2" placeholder="Digite novamente" name="repeatpassword" type="password">
                         	</div>
						 	<div id="message" class="alert alert-warning" style="margin-left: 16px; margin-right: 16px; display: none"></div>
                         	<input id="btnSend" type="button" class="btn btn-lg btn-success btn-block" style="background: #666666; border-color: #fff" value="Enviar">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>
<script type="text/javascript">
$('#btnSend').click(function () {
	  var pass1 = document.getElementById('pass1').value;
	  var pass2 = document.getElementById('pass2').value;
	  var ref = location.pathname.split('/nova-senha/') [1];
	  if (pass1 === '' || pass2 === '') {
	    $('#message').css('color', 'red');
	    $('#message').show();
	    $('#message').html('Favor, preencha os dois campos acima com senhas iguais.');
	    setTimeout('$("#message").hide()', 10000);
	    return;
	  }
	  var data = new Object();
	  data.value1 = pass1;
	  data.value2 = pass2;
	  data.ref = ref;
	  $('#panel-body').load('/application/confirmpass' + ' #panel-body>*', data, function (response, status) {
	    var status = $('#status').val();
	    if ('SUCCESS' === status) {
	      $('#message').css('color', 'gray');
	      $('#message').show();
	      $('#message').html($('#response').val());
	      $('#message').fadeIn();
	      setTimeout(function () {$(location).attr('href', '/login')}, 5000);
	    } else {
	      $('#message').css('color', 'red');
	      $('#message').show();
	      $('#message').html($('#response').val());
	      setTimeout('$("#message").hide()', 10000);
	    }
	  });
	});

</script>
	
	<!-- jQuery -->
	<script src="@{'public/templatebootstrap/bower_components/jquery/dist/jquery.min.js'}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="@{'public/templatebootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="@{'public/templatebootstrap/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>

	<!-- Custom Theme JavaScript -->
	<script src="@{'public/templatebootstrap/dist/js/sb-admin-2.js'}"></script>
	
</body>

</html>
    
