<!DOCTYPE HTML>
<html>
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WWMNHWH');</script>
		<!-- End Google Tag Manager -->
		<title>&{title} | &{parameter.getSiteName()}</title>
		<meta name="description" content="&{theSystem.getHeadline()}">
		<meta name="keywords" content="&{theSystem.getMetatags()}">
		<meta property="twitter:title" content="&{title} | &{parameter.getSiteName()}">
		<meta property="twitter:description" content="&{theSystem.getHeadline()}">
		<meta property="og:title" content="&{title} | &{parameter.getSiteName()}">
		<meta property="og:description" content="&{theSystem.getHeadline()}">
		<meta property="og:image" content="${play.configuration.getProperty('site.domain')}/thesystempagescontroller/getimage?id=&{theSystem.id}&index=1">
		<meta charset="utf-8" />
		#{include 'includes/headerTemplateFollow.html' /}
	</head>
	<body class="left-sidebar">
		<input id="action" type="hidden" value="${theSystem.buttonAction}" />
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWMNHWH"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<div id="page-wrapper">
			<!-- Header -->
				#{include 'includes/menuTemplateFollow.html' /}
			<!-- Main -->
				<article id="main">
					<header class="special container" style="margin-bottom: 0">
						<span class="icon fa-hand-o-down"></span>
						<h2 style="font-weight: bold; text-transform: uppercase;">&{theSystem.getTitle().raw()}</h2>
						<p style="text-align: center; margin-bottom: 0px;"><strong>&{theSystem.getHeadline().raw()}</strong></p>
					</header>

					<br />
					
					<section class="wrapper style4 container" style="padding: 15px">
						<div class="row 150%">
							<div class="4u 12u(narrower)">
								<!-- Content -->
									<div class="sidebar">
										<section>
											<header>
												<h3 style="text-transform: uppercase;">
													<strong>&{theSystem.getTitle2().raw()}</strong>
												</h3>
											</header>
											
											<a href="#" class="image featured"><img src="@{TheSystemPagesController.getImage(theSystem.id, '2')}" alt="&{theSystem.getTitle2()}" /></a>
											<p>&{theSystem.getHeadline2().raw()}</p>
										</section>
										
										<section>
											<header>
												<h3 style="text-transform: uppercase;">
													<strong>&{theSystem.getTitle3().raw()}</strong>
												</h3>
											</header>
											<a href="#" class="image featured"><img src="@{TheSystemPagesController.getImage(theSystem.id, '3')}" alt="&{theSystem.getTitle3()}" /></a>
											<p>&{theSystem.getHeadline3().raw()}</p>
										</section>
									</div>
								</div>
								<div class="8u 12u(narrower) important(narrower)">
									<div class="content">
										<section>
											<p style="font-size: 15px; margin: 0">Publicado por <a href="http://instagram.com/lucascorrei4" target="_blank">Lucas Correia</a> em &{theSystem.postedAtParsed}</p>
											<input id="shorten" type="hidden" value="&{theSystem.getShortenUrl()}" />
											#{if theSystem.getEmbed()}
												<iframe width="560" height="315" src="&{theSystem.getEmbed()}?rel=0&autoplay=0" frameborder="0" allowfullscreen style="width: 100%;"></iframe>
											#{/if}
											<header>
												<div id="share"></div>
												<br />
												#{if theSystem.showLeadsForm}
													<footer id="newsletterTheSystemTop" style="width: 100%">
														#{include 'includes/formCapturePageTop.html' /}
													</footer>
												#{/if}
												<br />
												<h3 style="text-transform: uppercase;">
													<strong>&{theSystem.getTitleDescription().raw()}</strong>
												</h3>
											</header>
											<a href="#" class="image featured"><img src="@{TheSystemPagesController.getImage(theSystem.id, '1')}" alt="&{theSystem.getTitleDescription()}" /></a>
											
											<p>&{theSystem.getDescription().raw()}</p>
											
											#{if theSystem.actionButton}
												<div style="width: 100%; margin-bottom: 50px">
													<div style="text-align: center">
														<script type="text/javascript">
															function importHotmart(){ 
														 		var imported = document.createElement('script'); 
														 		imported.src = 'https://static.hotmart.com/checkout/widget.min.js'; 
														 		document.head.appendChild(imported); 
															} 
														 	importHotmart(); 
														 </script> 
														 <a onclick="return false;" href="&{theSystem.actionButton}" class="hotmart-fb">
														 	<img src='https://static.hotmart.com/img/btn-buy-green.png'>
														 </a> 
												 	</div>
												 </div>
											#{/if}
										</section>
									</div>
									<div class="fb-comments" data-href="" data-numposts="5"></div>
								</div>
							</div>
							#{if theSystem.showLeadsForm}
								<footer id="newsletterTheSystemBottom" style="width: 100%">
									#{include 'includes/formCapturePageBottom.html' /}
								</footer>
							#{/if}
						</section>
						#{if theSystem.showBottomNews}
							<section class="wrapper style1 container special">
								<div class="row">
									#{include 'includes/lastNewsBottom.html' /}
								</div>
							</section>
						#{/if}
				</article>
			<!-- Footer -->
			#{include 'includes/footerTemplateFollow.html' /}
	</body>
</html>